@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

*{
    box-sizing: border-box;
}

@font-face {
    font-family: Norse-Bold;
    src: url(./misc/Norse-Bold.otf);
}

body {
    background-color: #7eb7be;
}

.main-container{
    border: 1px solid black;
    width: 70vw;
    height: 85vh;
    margin: auto;
    margin-top: 3rem;
}

.main-container {
    display: flex;
}

.sidebar, .main-part {
    border: 2px dashed rebeccapurple;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./misc/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    flex-shrink: 0;
    min-width: 20vw;
}

.main-part {
    flex-grow: 2;
    background-color: #eff3f3;
    display: flex;
}


.logo, .footer-credits{
    border: 2px dashed green;
    width: auto;
}

.logo {
    height: 150px;
    width: auto;
    margin-top: 5em;
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: relative;
    display: flex;
}

.aligner {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.img-logo {
    width: auto;
    height: 100%;
}

.img-logo+span::after{
    content: "ODIN";
    font-family: Norse-Bold, sans-serif;
    color: white;
    font-size: 6rem;
    position:relative;
    top: -10px;
}

.footer-credits {
    height: 1em;
    margin-bottom: 1em;
    color: white;
    text-align: center;
}

.right-aligner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2vw;
    margin-right: 5vw;
    flex-grow: 1;
}

.header, .bx-form, .bx-space {
    border: 2px dashed grey;
    font-family: Roboto, sans-serif;
}

.header, .bx-space{
    max-height: 33.3%;
}
.header {
    flex-grow: 2;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1.5;
    font-size: large;
    

}

.header p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.bx-form {
    flex-grow: 1;
}

.bx-space {
    flex-grow: 2;
}