*{
    box-sizing: border-box;
}

@font-face {
    font-family: Norse-Bold;
    src: url(./misc/Norse-Bold.otf);
}

body {
    background-color: #7eb7be;
}

.main-container{
    border: 1px solid black;
    width: 70vw;
    height: 85vh;
    margin: auto;
    margin-top: 3rem;
}

.main-container {
    display: flex;
}

.sidebar, .main-part {
    border: 2px dashed rebeccapurple;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./misc/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    flex-grow: 1;
}

.main-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
}


.logo, .footer-credits{
    border: 2px dashed green;
    width: auto;
}

.logo {
    height: 150px;
    width: auto;
    margin-top: 5em;
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: relative;
    display: flex;
}

.aligner {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.img-logo {
    width: auto;
    height: 100%;
}

.img-logo+span::after{
    content: "ODIN";
    font-family: Norse-Bold, sans-serif;
    color: white;
    font-size: 6rem;
    position:relative;
    top: -10px;
}

.footer-credits {
    height: 1em;
    margin-bottom: 1em;
    color: white;
    text-align: center;
}

.header, .bx-form, .bx-space {
    border: 2px dashed grey;
}

.header {
    flex-grow: 2;
}

.bx-form {
    flex-grow: 1;
}

.bx-space {
    flex-grow: 2;
}